<div  style="width:100%;height:580px;max-width:1095px;overflow: hidden;text-align: center;background-image:url(img/password.png);background-size:100% 100%;opacity:0.9;" ng-init="pass_word.a1=false;pass_word.a2=false;pass_word.a3=false;pass_word.a4=false;pass_word.a5=false;">
	<div style="margin-top: 100px;margin-bottom: 20px;">
		<h3>修改密码</h3>
	</div>
	<div style="width:width:100%;height:350px;">
		<form class="form_auto" style="text-align: center" name='changePasswordForm' ng-submit="changePassword(changePasswordMsg)">
		    <div class="orm-group" style="height: 58px;text-align: center">
	            <label style="width:120px;text-align: right;"><i style="color: red">*&nbsp;&nbsp;</i>账户:</label>
           
	              <input style="width:390px;height:34px;border-radius:4px;border: 1px solid #ccc;padding:6px 12px;cursor: not-allowed;" type="text" name="loginUser" ng-model="userInfo.loginUser" ng-disabled="true"  />
	              
	            
            </div>
            <div class="orm-group" style="height: 58px;text-align: center">
	            <label style="width:120px;text-align: right;"><i style="color: red">*&nbsp;&nbsp;</i>旧密码:</label>
           
	              <input style="width:390px;height:34px;border-radius:4px;border: 1px solid #ccc;padding:6px 12px;" type="password" name="oldPassword" ng-model="changePasswordMsg.oldPassword" required onpaste="return false" onselectstart="return false" />
	              
	            
            </div>
 			<div class="form-group form-inline marginT" style="height: 58px;">
	            <label class="" style="width:120px;text-align: right;"><i style="color: red">*&nbsp;&nbsp;</i>新密码:</label>
	            
	              <input  style="width:395px;height:34px;border-radius:4px;border: 1px solid #ccc;padding:6px 12px;" type="password" name="newPassword" ng-model="changePasswordMsg.newPassword" ng-change="wathPassword(changePasswordMsg.newPassword)"  required onpaste="return false" onselectstart="return false"/>
	              <div class="popover fade top in" style="width:720px;max-width:720px;top:-107px; left:220px;display: block;position:relative" ng-if="pass_word.a1===true||pass_word.a2===true||pass_word.a4===true||pass_word.a5===true">
				      <div class="arrow"></div>
				      <h3 class="popover-title" style="text-align: center;">温馨提示！</h3>
				      <div style="color:red;font-size: 12px;padding: 2px;" ng-show="pass_word.a5">注:密码至少由8位及以上及包含大小写字母、数字及特殊符号，随机组成
	              	  ，尽量不要以姓名、电话号码以及出生日期等作为口令或者口令的组成部分
	                  </div>
	                  <div style="color:red;font-size: 12px;padding: 2px;" ng-show="pass_word.a1">密码不能出现3位以上（含三位）重复字母、数字、特殊字符，如AAA、Aaa、111、###等<br><br></div>
		              <div style="color:red;font-size: 12px;padding: 2px;" ng-show="pass_word.a2">密码不能出现3位以上（含三位）连续字母、数字、特殊字符，如ABC、Abc、123、！@#等<br><br></div>
		              <div style="color:red;font-size: 12px;padding: 2px;" ng-show="pass_word.a4">密码不能出现3位以上（含三位）键盘上连续的字母、数字、特殊字符，如qwe（键盘第一行前三个字母）、asd（键盘第二行前三个字母）、qaz（键盘第一列三个字母）、1qaz（键盘第一列数字加前三个字母）、！QAZ（键盘第一列特殊字符加前三个字母）等</div>
			      </div>
            </div>
  			
  			<div class="form-group form-inline marginT" style="height: 58px;">
	            <label class="" style="width:120px;text-align: right;"><i style="color: red">*&nbsp;&nbsp;</i>再次输入新密码:</label>
	            
	              <input  style="width: 395px;height:34px;border-radius:4px;border: 1px solid #ccc;padding:6px 12px;" type="password" name="newPassword2" ng-model="changePasswordMsg.newPassword2" required onpaste="return false" onselectstart="return false" ng-change="compared(changePasswordMsg.newPassword,changePasswordMsg.newPassword2)"/>
	             
	              <div class="popover fade top in" style="width:200px;max-width:200px;top:-92px; left:450px;display: block;position:relative" ng-if="pass_word.a3===true">
				      <div class="arrow"></div>
				      <h3 class="popover-title" style="text-align: center;">温馨提示！</h3>
				      <div style="color:red;padding: 2px;text-align: center;" ng-show="pass_word.a3">两次密码不一致<br></div>
			      </div>
            </div>
  			
 
  			<div class="form-group" style="margin-left: 0px;">
		      <button type="submit" class="btn btn-primary" style="width:100px;"   ng-disabled='changePasswordForm.$invalid||pass_word.a1||pass_word.a2||pass_word.a3||pass_word.a4||pass_word.a5'>保存</button>
		    </div>
  
  

         </form>
	</div>
</div>