@charset "UTF-8";
* {
  font-family: 微软雅黑;
}

html, body {
  background: #E2E2E2;
}

.navbar-default {
  margin-bottom: 0px;
  background: #1976D3;
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-nav > li > a {
  color: #B3D7FB;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-default .navbar-right {
  margin-right: 30px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #FFF;
  background-color: transparent;
  border-bottom: 5px solid #FF9A04;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #FFF;
  background-color: transparent;
}

.navbar-default .navbar-nav > .open > a {
  color: #FFF;
  background-color: #5199E0;
}

.navbar > .container-fluid .navbar-brand {
  background-image: url("../img/logo.png");
  width: 135px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: 50%;
}

.nav {
  padding-left: 20px;
}

.nav-tabs {
  border: none;
}

.nav-tabs > li > a {
  margin: 0;
  border-radius: 0;
  background-color: #F0F0F0;
  border-color: #ccc;
  color: black;
}

.nav-tabs > li > a:hover {
  border-color: #ccc;
  border-top: 1px solid #0087CB;
  background-color: #FFFFFF;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-color: #ccc;
  border-top: 1px solid #0087CB;
  background-color: #FFFFFF;
  border-bottom-color: transparent;
  color: blue;
  font-weight: bold;
}

.tab-content {
  border: 1px solid #ccc;
}

.progress-thin {
  height: 12px;
}

.list-pager {
  color: #666;
  padding: 42px;
}

.list-pager > span {
  padding: 9px 12px;
  border: 1px solid #ddd;
  margin: 4px;
  cursor: pointer;
}

.list-pager > span.active {
  background-color: #1f8cc2;
  color: #fff;
  border-color: #1f8cc2;
}

.alert {
  padding: 10px;
}

.alert.alert-dismissible {
  padding-right: 35px;
  width: 40%;
  position: absolute;
  top: 2px;
  left: 30%;
}

.alert p {
  word-break: break-all;
  margin-top: 10px;
}

.bs-glyphicons-list {
  padding-left: 0;
  list-style: none;
}

.bs-glyphicons li {
  float: left;
  width: 10%;
  height: 115px;
  padding: 10px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #adadad;
  border: 1px solid #fff;
}

.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}

.bs-glyphicons .glyphicon-class {
  display: block;
  text-align: center;
  word-wrap: break-word;
}

.container {
  width: 99%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #E2E2E2;
}

.main-menu {
  margin-top: 60px;
  background-color: rgba(45, 49, 46, 0.84);
  width: 230px;
  float: left;
  height: auto;
  min-height: 100%;
  -webkit-transition: width 0.5s ease-in;
  transition: width 0.5s ease-in;
}

.main-cantent {
  margin-top: 60px;
  width: auto;
  height: 100%;
  margin-left: 240px;
  -webkit-transition: margin-left 0.5s ease-in;
  transition: margin-left 0.5s ease-in;
}



.monitor-content {
  padding: 0px;
  display: block !important;
}

.monitor-content a {
  text-decoration: none;
}

.monitor-content label {
  display: block;
  width: 100%;
  color: #C5E1FA;
  border-bottom: 1px solid #5A6A7F;
  font-size: 14px;
  cursor: pointer;
  padding: 10px;
  height: 40px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 0;
  padding-left: 13px;
}

.monitor-content label > i.menu-i {
  float: left;
  font-size: 19px;
}

.monitor-content label > i.menu-i2 {
  float: right;
  margin-top: 4px;
}

.monitor-content label > i.menu-i3 {
  float: right;
  margin-right: 10px;
}

.monitor-content label > i.menu-i4 {
  float: left;
  margin-right: 5px;
}

.monitor-content label span.menu-span {
  font-size: 14px;
  margin: 2px 0 0 10px;
  float: left;
  color: #C5E1FA;
}

.monitor-content ul {
  margin: 0px !important;
  padding: 0px !important;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  list-style-position: outside;
  font-family: inherit;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}

.monitor-content ul li {
  list-style: none;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  color: #98A2AD;
  margin: 0;
  padding: 0;
  display: list-item;
  text-align: -webkit-match-parent;
}

.monitor-content li li label {
  padding: 10px 0 0 40px;
}

.monitor-content li li li label {
  padding: 10px 0 0 60px;
}

.monitor-content li li li li label {
  padding: 10px 0 0 70px;
}

.monitor-content label:hover {
  background-color: #5D6B80;
  color: #FFF;
}

.monitor-content label:hover i {
  color: #FFF;
}

.monitor-content label:hover span.menu-span {
  color: #FFF;
}

.monitor-content label.active {
  color: #fff;
  font-weight: bold;
  background-color: #5D6B80;
}

.sidebar-collapse {
  border-bottom: 1px solid #e0e0e0;
  background-color: #f3f3f3;
  text-align: center;
  padding: 3px 0;
  position: relative;
}

.monitor-content label > span.menuspan2 {
  display: none;
  position: absolute;
  height: 40px;
  background-color: rgba(45, 49, 46, 0.84);
  border-bottom: 1px solid #5A6A7F;
  margin-top: -10px;
  width: 250px;
  left: 35px;
  line-height: 40px;
  padding-left: 10px;
  z-index: 10000;
}

.submenu {
  display: none;
  position: absolute;
  background-color: rgba(45, 49, 46, 0.84);
  left: 45px;
  width: 250px;
  z-index: 10000;
}

.navbar-default {
  background-color: #28618C;
  border-color: #28618C;
  border-radius: 0px;
}

.navbar-brand {
  background-image: url("../img/logo.png");
  height:50px;
  width: 213px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.navbar-nav > li {
  line-height: 55px;
  padding: 0 10px;
}

.navbar-nav li.blue img {
  width: 35px;
}

.navbar-nav li.blue span {
  position: relative;
  top: 8px;
  left: 2px;
  color: #FFF;
}

.navbar-nav li.setup {
  border-left: 1px #98AAC2 solid;
  padding-left: 0px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #4F81A7;
}

.content {
  padding: 5px;
  height: 100%;
  background: #E2E2E2;
}

.content .querys-content {
  background: #FFF;
  border-radius: 10px;
}

.content .querys-content > .title {
  padding: 20px 40px;
  font-size: 25px;
  color: #6C93B6;
}

.content .querys-content .querys {
  padding: 5px;
  border-bottom: 1px solid #CCC;
}

.content .querys-content .querys #certificateDisplay td {
  padding: 10px 0px;
}

.content .querys-content .querys #certificateDisplay td span + span {
  margin-left: 10px;
}

.content .querys-content .querys #certificateDisplay td span > i {
  position: relative;
  top: 2px;
}

.content .querys-content .querys #certificateDisplay td span > i:hover {
  color: red;
}

.content .querys-content .querys #certificateDisplay td > select + select {
  margin-left: 20px;
}

.content .querys-content .querys #certificateDisplay + table th {
  padding: 5px 10px;
  text-align: center;
}

.content .querys-content .querys #certificateDisplay + table td {
  padding: 5px 20px;
}

.content .querys-content .querys #certificateDisplay + table th, .content .querys-content .querys #certificateDisplay + table td {
  border: 1px solid #ccc;
}

.content .querys-content .querys #certificateVerification td, .content .querys-content .querys #certificateReplacement td {
  padding: 5px 0px;
}

.content .querys-content .querys #certificateVerification td button, .content .querys-content .querys #certificateReplacement td button {
  padding: 3px 40px;
}

.content .querys-content .querys #certificateVerification input[type=text], .content .querys-content .querys #certificateReplacement input[type=text] {
  width: 270px;
}

.content .querys-content .querys #certificateVerification textarea, .content .querys-content .querys #certificateReplacement textarea {
  resize: none;
}

.content .querys-content .querys #certificateVerification input, .content .querys-content .querys #certificateVerification textarea, .content .querys-content .querys #certificateReplacement input, .content .querys-content .querys #certificateReplacement textarea {
  padding: 3px 3px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.content .querys-content .querys #certificateVerification input:focus, .content .querys-content .querys #certificateVerification textarea:focus, .content .querys-content .querys #certificateReplacement input:focus, .content .querys-content .querys #certificateReplacement textarea:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.content .querys-content .querys #certificateReplacement tr > td:first-child {
  text-align: right;
  padding-right: 5px;
  width: 85px;
}

.content .querys-content .querys #certificateReplacement td > input[type=text] {
  width: 200px;
}

.content .querys-content .querys #certificateReplacement td[colspan="3"] > input, .content .querys-content .querys #certificateReplacement td[colspan="4"] > input {
  width: 100%;
}

.content .querys-content .btns {
  padding: 5px 0px;
}

.content .querys-content .btns .btn {
  margin-left: 25px;
  padding: 3px 25px;
}

.content .querys-content .form-inline {
  height: 40px;
}

.content .querys-content .form-inline .form-group {
  text-align: right;
  margin-bottom: 5px;
  position: relative;
}

.content .querys-content .form-inline .form-group input[type=date].form-control {
  width: 125px;
  width: calc(100% - 110px);
  padding: 6px 25px 12px 12px;
}

.content .querys-content .form-inline .form-group .sj {
  position: absolute;
  top: 10px;
  right: 25px;
}

.content .querys-content .form-inline .form-group .form-control {
  width: 144px;
  width: calc(100% - 90px);
}

.content .querys-content .form-inline .form-group .form-control.form-data {
  width: 130px;
  width: calc(100% - 110px);
}

.content .querys-content .form-inline .btn-success {
  padding: 6px 54px;
}

.content .querys-content .form-inline .btn-success span {
  margin-right: 10px;
}

.tables-content {
  margin-top: 0;
  height: 100%;
  padding: 10px;
  background: #FFF;
  border-radius: 10px;
}

.tables-content .tbody {
  max-height: 520px;
  margin-top: -1px;
  overflow: auto;
  overflow-y: scroll;
}

.tables-content .thead {
  width: 100%;
  overflow: hidden;
}

.tables-content .table {
  margin-bottom: 0px;
  table-layout: fixed !important;
}

.tables-content .table thead {
  background: #5797D5;
}

.tables-content .table > thead > tr > th {
  font-size: 14px;
  text-align: center;
  padding: 10px 5px;
  color: #FFF;
  font-weight: 100;
  width: 20%;
  word-wrap: break-word;
  word-break: break-all;
}

.tables-content .table > tbody > tr > td {
  font-size: 12px;
  text-align: center;
  width: 20%;
  word-wrap: break-word;
  word-break: break-all;
  vertical-align:text-top;
}

.tables-content .model-table > tbody > tr > td:first-of-type {
  width: 150px;
}

.tables-content .model-table > tbody > tr > td {
  text-align: left;
}

.tables-content .model-table > tbody > tr > td .checkbox {
  margin: 0px;
}

.tables-content .table > tbody > tr {
 /* background: #EAF4FE;*/
  background: rgb(249,249,249);
}

.tables-content .table > tbody > tr:nth-of-type(odd) {
  background-color: #FFF;
}

.tables-content .table > tbody > tr > td a {
  cursor: pointer;
}

.tables-content nav.page {
  text-align: center;
  margin-top: 20px;
}

.tables-content nav.page .pagination {
  margin: 0px;
}

.tables-content nav.page .pagination > li > a {
  color: #000;
  padding: 0px 10px;
  border: none;
}

.tables-content nav.page .pagination > li > a.active {
  color: #FFF;
  background: #9DBDC2;
  border-radius: 25px;
}

.tables-content nav.page .pagination > li > a.go {
  background: #9DBDC2;
  border-radius: 25px;
  color: #FFF;
  padding: 1px 10px;
  cursor: pointer;
  font-size: 12px;
}

.tables-content nav.page .pagination > li > a > input {
  width: 45px;
  border: 1px solid #9DBDC2;
  margin-right: 5px;
  outline: 0;
  text-indent: 8px;
}

.modal-header {
  background-color: #F1EFEF;
}

.modal-footer {
  background-color: #F1EFEF;
}

.modal-body tbody.explain td {
  border: none;
}

.modal-body tbody.explain td:nth-child(even) {
  text-align: left;
}

.modal-body tbody.explain td:nth-child(odd) {
  text-align: right;
}

/* Liuyang begin */
.selectTime input {
  width: 70px;
  width: calc(100% - 25px);
  height: 27px;
  margin: -3px 0 0 -11px;
  border: none;
  outline: 0;
}

.selectTime select {
  height: 30px;
  margin: -11px -11px 0 -6px;
  border: none;
  outline: 0;
}

.login {
  width: 100%;
  background: #FFF;
  height: 100%;
}

.login .login-logo {
  width: 100%;
  height: 350px;
  padding-top: 45px;
  background: url("../img/login_bg.png") no-repeat;
  background-size: 100%;
}

.login .login-logo .logo {
  width: 275px;
  height: 81px;
  margin: 0 auto;
  background: url("../img/logo2.png") no-repeat;
}

.login .login-logo .note h1 {
  color: #fff;
  font-size: 45pt;
  text-align: center;
  margin-top: 40px;
}

.login .login-logo .note h3 {
  color: #e8f2fc;
  font-size: 28pt;
  text-align: center;
  margin-top: 10px !important;
}

.login .login-form .form_auto {
  width: 550px;
  height: auto;
  margin: 40px auto;
}

.login .login-form .form_auto .form-group {
  position: relative;
  margin: 20px 0 0 75px;
}

.login .login-form .form_auto .form-group input {
  width: 394px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 40px;
  font-size: 12pt;
}

.login .login-form .form_auto .form-group button {
  width: 394px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #1977D2;
  color: #fff;
  font-size: 15pt;
}

.login .login-form .form_auto .form-group i {
  position: absolute;
  left: 15px;
  top: 15px;
}

.login .login-form .form_auto .form-group .glyphicon-lock {
  top: -50px;
}

.login .login-form .form_auto .form-group .form-error {
  margin-left: 10px;
  font-size: 10pt;
  color: #fd3c3c;
}

.marginT {
  margin: 10px 0;
}

.marginT .textleft {
  text-align: left !important;
}

.marginT .textleft .marlt {
  margin-left: 14px;
}

.btnbtn {
  margin: 5px 0 0 70px;
}

.btnbtn button {
  padding: 2px 40px;
  margin-bottom: 5px;

}

.btnbtn button:first-child {
  margin-right: 30px;
}

.btnbtn .marL {
  margin-left: 15px;
}

.h3style {
  margin-top: 10px !important;
  color: #5797d5;
}

/* Liuyang end */
/* liugenhao begin*/
.storagePath {
  text-align: left !important;
}

.storagePath input {
  width: 40% !important;
}

.download {
  margin-left: -18px;
}

.bgColor {
  background-color: #8AA8B2 !important;
  color: #fff !important;
  border: 1px solid #8AA8B2 !important;
}

.submitModal {
  margin: 0 25px !important;
}

/*---------------------- liuheng ------------------------*/
div.modal.lh .modal-content {
  padding-left: 10px;
  padding-right: 10px;
}

div.modal.lh .modal-content .modal-body .form-inline {
  text-align: right;
}

div.modal.lh .modal-content .modal-body .form-inline label + label {
  width: 170px;
  text-align: left;
  font-weight: normal;
}

/*----------------------------- liuheng ------------------------------- */
.ident {
  height: 20px;
}

.ident li {
  float: left;
  list-style: none;
  margin-left: 10px;
}

.ident li label {
  display: block;
  float: left;
  width: 20px;
  height: 10px;
  margin: 6px 5px 0px 0px;
  border-radius: 3px;
}

.lifecycle {
  padding: 10px 50px;
}

.lifecycle .title {
  padding: 0px;
  font-size: 14px;
  color: #000;
  float: left;
  padding-right: 10px;
}

.lifecycle .progress {
  background-color: #645E6C;
  margin-bottom: 0px;
}

.lifecycle .progress div {
  float: left;
  color: #FFF;
  text-align: center;
}

.begin {
  background: #D94D4C;
}

.validate {
  background: #EDA537;
}

.enable {
  background: #69C6FF;
}

.end {
  background: #B265E7;
}

#certSetting thead td {
  white-space: nowrap;
  text-align: center;
}

#certSetting td {
  vertical-align: middle;
}

#addSecurity .modal-body > span {
  font-weight: bold;
}

#certificateVerification1 tbody > tr:first-child > td {
  white-space: nowrap;
  text-align: center;
}

#certificateVerification1 tbody > tr:first-child + tr > td {
  vertical-align: middle;
}

#downloadMessage .modal-body tbody td {
  padding: 10px 0px;
}

.font-bold {
  font-weight: bold;
}

#upload-lh1 tbody > tr > td:first-child {
  white-space: nowrap;
}

.change {
  background-color: #1E91FF;
  cursor: pointer;
}

.normal {
  background-color: white;
  cursor: pointer;
}

/* .redCircle {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin: 3px 15px 0 10px;
}

.greenCircle {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #009E0F;
  margin: 3px 15px 0 10px;
}

.noCircle {
  float: left;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 3px 15px 0 10px;
} */

.to-narrow {
  position: relative;
  -webkit-animation: toleft 0.46s ease-in;
  /*Safari and Chrome*/
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes toleft /*Safari and Chrome*/ {
  from {
    left: 190px;
  }
  to {
    left: 15px;
  }
}

.to-open {
  position: relative;
  -webkit-animation: toright 0.42s ease-in;
  /*Safari and Chrome*/
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes toright /*Safari and Chrome*/ {
  from {
    left: 15px;
  }
  to {
    left: 165px;
  }
}

#table {
  margin: 0;
  border-collapse: collapse;
}

#table th {
  border: 1px solid white;
  font-weight: normal;
  text-align: center;
}

#tr th:first-child {
  border-left: 0;
}

#tr th:last-child {
  border-right: 0;
}

#tr:first-child th {
  border-top: 0px;
}

#tr:last-child th {
  border-bottom: 0px;
}

.stoped {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  margin: auto;
}
.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffd414;
  margin: auto;
}
.unregistered {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: yellow;
  margin: auto;
}

.running {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #009E0F;
  margin: auto;
}
#table-left
{
  float:left; width:20%;
}
#table-right
{
   width:80%; float:right; height: inherit;
}


.btn {
  margin-right: 8px;
}

.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

tr.angular-ui-tree-empty {
  height:100px
}

.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2;
}

.nodrop {
  background-color: #f2dede;
}

.tree-node-content {
  padding-bottom: 5px;
  padding-top: 5px;

}
.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px;
}

.angular-ui-tree-handle:hover {
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#WdXdiv{
	/*background:#fff url(datePicker.gif) no-repeat right;*/
}
