*{
	font-family: 微软雅黑;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:gray;
    background: none;
}
.nav > li > a:hover, .nav > li > a:focus {

    background: none;
}
.nav-pills > li> a{
	color:gray;
    padding-top: 5px;
    padding-right: 1px;
    padding-left: 1px;
    padding-bottom: 5px;
}
.nav-pills > li {
    line-height: 10px;
    padding: 5px;

}
.nav-pills > li:hover{
	border-bottom: 2px solid #31b0d5;
}
.selectLi{
    border-bottom: 2px solid #31b0d5;
}
.tables-content .table > thead > tr > th {
    background: #f5f5f5;
    color:gray;
}
.tables-content nav.page .pagination > li > a {
    background: none;
}
.tables-content {
    background:none;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
     border-bottom-width:0px;
}
#table th {
    border:none;
}
.btn-info {
    color: #fff;


}
.navbar-default {
    background: #2093b7;
  border-radius: 0px;
  position: fixed;
  width: 100%;
  z-index: 999;

}

.running {
    width: 10px;
    height: 10px;
}


.main-menu {
    background-color: rgba(45, 49, 46, 0.84);
}
.firstTd {
    text-align: left !important;

}


.tree-grid1  * {
   /*
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
   */
    font-size: 14px !important;


}
.tree-grid1  td ,.tree-grid1 th{
    border: 1px solid #ddd !important;
}

.delayAvg,.delayMax,.delayMin,.curr,.producerCount{
    width: 60px !important;
}
.instance{

    width:150px !important;
    text-align: left !important;

}
.firstTh {
    text-align: center !important;

}
.status
{
    width: 100px !important;
}

.abc {
    display: inline-block;
    top: 2px;
    margin: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #009E0F;

}
.icon_STOP{
color: rgba(241, 16, 16, 0.59)!important;
}
.icon_yellow{
color: #ffb02a !important;
}
.icon_Back_STOP{
    background-color: rgba(241, 16, 16, 0.59)!important;
}
.icon_Back_yellow{
    background-color: #ffb02a !important;
}
.icon_START{

}

.start_xz{
	min-width:85px;
}
.list_xz{
	margin-right:0px;
}
.new_classtyle_bt{
	background-color: #5bc0de;
    border-color: rgb(242, 244, 245);
}
.new_classtyle_bt:hover{
	background-color: #31b0d5 !important;
    border-color: rgb(242, 244, 245) !important;
}

.new_classtyle_bt:active{
	background-color: #31b0d5 !important;
    border-color: rgb(242, 244, 245) !important;
}
.new_classtyle_bt:visited{
	background-color: #31b0d5 !important;
    border-color: rgb(242, 244, 245) !important;
}
.new_classtyle_bt:focus{
	background-color: #31b0d5 !important;
    border-color: rgb(242, 244, 245) !important

}
@-webkit-keyframes animate-positive {
    0% { height: 0%;}
}
@keyframes animate-positive {
    0% { height:0%; }
}
.progress:after{
    border-top: 4px dashed #fff;
    margin-top:8px;
}
.progress .progress-bar{
    position: absolute;
    animation: animate-positive 2s;
    /*animation-fill-mode：forwards ;*/

    }
