

.MZj-NJ-1{
      animation:MZj-NJ-1 3s infinite forwards linear;
  }
@-webkit-keyframes MZj-NJ-1 {
      100%  { transform:translate(0px,-95px)}
  }
@-ms-keyframes MZj-NJLeft{
      100%  { transform:translate(0px,-95px)}
    }

.MZj-NJ-2{
  animation:MZj-NJ-2 1.5s infinite forwards linear;
}
@-webkit-keyframes MZj-NJ-2 {
  100%  { transform:translate(15px,0px)}
}
@-ms-keyframes MZj-NJ-2{
  100%  { transform:translate(15px,0px)}
}

.MNJ-Array1{
  animation:MNJ-Array1 1.5s infinite forwards linear;
}
@-webkit-keyframes MNJ-Array1 {
  100%  { transform:translate(13px,0px)}
}
@-ms-keyframes MNJ-Array1{
  100%  { transform:translate(13px,0px)}
}

.Marray1-radware2{
  animation:Marray1-radware2 1s infinite forwards linear;
}
@-webkit-keyframes Marray1-radware2 {
  100%  { transform:translate(9px,0px)}
}
@-ms-keyframes Marray1-radware2{
  100%  { transform:translate(9px,0px)}
}

.Mradware2-TMQZ{
  animation:Mradware2-TMQZ 1s infinite forwards linear;
}
@-webkit-keyframes Mradware2-TMQZ {
  100%  { transform:translate(8px,0px)}
}
@-ms-keyframes Mradware2-TMQZ{
  100%  { transform:translate(8px,0px)}
}

.MTMQZ-ZLYQ{
  animation:MTMQZ-ZLYQ 1s infinite forwards linear;
}
@-webkit-keyframes MTMQZ-ZLYQ{
  100%  { transform:translate(8px,0px)}
}
@-ms-keyframes MTMQZ-ZLYQ{
  100%  { transform:translate(8px,0px)}
}

.MLLYQ-TMHX{
  animation:MLLYQ-TMHX 1s infinite forwards linear;
}
@-webkit-keyframes MLLYQ-TMHX{
  100%  { transform:translate(8px,0px)}
}
@-ms-keyframes MLLYQ-TMHX{
  100%  { transform:translate(8px,0px)}
}

.MTMHX-RLYQ{
  animation:MTMHX-RLYQ 1s infinite forwards linear;
}
@-webkit-keyframes MTMHX-RLYQ{
  100%  { transform:translate(8px,0px)}
}
@-ms-keyframes MTMHX-RLYQ{
  100%  { transform:translate(8px,0px)}
}

.MRLYQ-SQZ{
  animation:MRLYQ-SQZ 1s infinite forwards linear;
}
@-webkit-keyframes MRLYQ-SQZ{
  100%  { transform:translate(8px,0px)}
}
@-ms-keyframes MRLYQ-SQZ{
  100%  { transform:translate(8px,0px)}
}

.MSQZ-NJ{
  animation:MSQZ-NJ 1.5s infinite forwards linear;
}
@-webkit-keyframes MSQZ-NJ{
  100%  { transform:translate(14px,0px)}
}
@-ms-keyframes MSQZ-NJ{
  100%  { transform:translate(14px,0px)}
}

.MNJ-31SGS-1{
  animation:MNJ-31SGS-1 1.5s infinite forwards linear;
}
@-webkit-keyframes MNJ-31SGS-1{
  100%  { transform:translate(16px,0px)}
}
@-ms-keyframes MNJ-31SGS-1{
  100%  { transform:translate(16px,0px)}
}

.MNJ-31SGS-2{
   animation:MNJ-31SGS-2 3s infinite forwards linear;
 }
@-webkit-keyframes MNJ-31SGS-2{
  100%  { transform:translate(0px,100px)}
}
@-ms-keyframes MNJ-31SGS-2{
  100%  { transform:translate(0px,100px)}
}

.Marray1-F5_2-1{
  animation:Marray1-F5_2-1 1s infinite forwards linear;
}
@-webkit-keyframes Marray1-F5_2-1{
  100%  { transform:translate(0px,17px)}
}
@-ms-keyframes Marray1-F5_2-1{
  100%  { transform:translate(0px,17px)}
}

.Marray1-F5_2-2{
  animation:Marray1-F5_2-2 3s infinite forwards linear;
}
@-webkit-keyframes Marray1-F5_2-2{
  100%  { transform:translate(74px,132px)}
}
@-ms-keyframes Marray1-F5_2-2{
  100%  { transform:translate(74px,132px)}
}

.Marray1-F5_2-3{
  animation:Marray1-F5_2-3 1.5s infinite forwards linear;
}
@-webkit-keyframes Marray1-F5_2-3{
  100%  { transform:translate(0px,30px)}
}
@-ms-keyframes Marray1-F5_2-3{
  100%  { transform:translate(0px,30px)}
}

.BF5_2-TMQZ{
  animation:BF5_2-TMQZ 1s infinite forwards linear;
}
@-webkit-keyframes BF5_2-TMQZ{
  100%  { transform:translate(9px,0px)}
}
@-ms-keyframes BF5_2-TMQZ{
  100%  { transform:translate(9px,0px)}
}

.BTMQZ-ZLYQ{
  animation:BTMQZ-ZLYQ 1s infinite forwards linear;
}
@-webkit-keyframes BTMQZ-ZLYQ{
  100%  { transform:translate(7px,0px)}
}
@-ms-keyframes BTMQZ-ZLYQ{
  100%  { transform:translate(7px,0px)}
}

.BZLYQ-TMHX{
  animation:BZLYQ-TMHX 1s infinite forwards linear;
}
@-webkit-keyframes BZLYQ-TMHX{
  100%  { transform:translate(8px,0px)}
}
@-ms-keyframes BZLYQ-TMHX{
  100%  { transform:translate(8px,0px)}
}

.BTMHX-RLYQ{
  animation:BTMHX-RLYQ 1s infinite forwards linear;
}
@-webkit-keyframes BTMHX-RLYQ{
  100%  { transform:translate(7px,0px)}
}
@-ms-keyframes BTMHX-RLYQ{
  100%  { transform:translate(7px,0px)}
}

.BRLYQ-SQZ{
  animation:BRLYQ-SQZ 1s infinite forwards linear;
}
@-webkit-keyframes BRLYQ-SQZ{
  100%  { transform:translate(7px,0px)}
}
@-ms-keyframes BRLYQ-SQZ{
  100%  { transform:translate(7px,0px)}
}

.BSQZ-NG-1{
  animation:BSQZ-NG-1 1.5s infinite forwards linear;
}
@-webkit-keyframes BSQZ-NG-1{
  100%  { transform:translate(0px,-16px)}
}
@-ms-keyframes BSQZ-NG-1{
  100%  { transform:translate(0px,-16px)}
}

.BSQZ-NG-2{
  animation:BSQZ-NG-2 2s infinite forwards linear;
}
@-webkit-keyframes BSQZ-NG-2{
  100%  { transform:translate(31px,-55px)}
}
@-ms-keyframes BSQZ-NG-2{
  100%  { transform:translate(31px,-55px)}
}

.BSQZ-NG-3{
  animation:BSQZ-NG-3 2s infinite forwards linear;
}
@-webkit-keyframes BSQZ-NG-3{
  100%  { transform:translate(32px,-56px)}
}
@-ms-keyframes BSQZ-NG-3{
  100%  { transform:translate(32px,-56px)}
}

.BSQZ-NG-4{
  animation:BSQZ-NG-4 1.5s infinite forwards linear;
}
@-webkit-keyframes BSQZ-NG-4{
  100%  { transform:translate(0px,-17px)}
}
@-ms-keyframes BSQZ-NG-4{
  100%  { transform:translate(0px,-17px)}
}

.BTMHX-WR{
  animation:BTMHX-WR 1s infinite forwards linear;
}
@-webkit-keyframes BTMHX-WR{
  100%  { transform:translate(23px,-23px)}
}
@-ms-keyframes BTMHX-WR{
  100%  { transform:translate(23px,-23px)}
}

.MDTMHX-WR{
  animation:MDTMHX-WR 1s infinite forwards linear;
}
@-webkit-keyframes MDTMHX-WR{
  100%  { transform:translate(-24px,26px)}
}
@-ms-keyframes MDTMHX-WR{
  100%  { transform:translate(-24px,26px)}
}

.MLJ-DG-left{
  -webkit-animation:MLJ-DGLeft 2s infinite forwards linear;
  -ms-animation:MLJ-DGLeft 2s infinite forwards linear;
}
@-webkit-keyframes MLJ-DGLeft {
  100%  { transform:translate(0px,32px);}
}
@-ms-keyframes MLJ-DGLeft {
  100%  { transform:translate(0px,32px);}
}

.BDG-LJ-left{
  -webkit-animation:BDG-LJLeft 2s infinite forwards linear;
  -ms-animation:BDG-LJLeft 2s infinite forwards linear;
}
@-webkit-keyframes BDG-LJLeft {
  100%  { transform:translate(0px,-32px);}
}
@-ms-keyframes BDG-LJLeft {
  100%  { transform:translate(0px,-32px);}
}








.BZj-GT-left{
  transform-origin:20px 0px;
  -webkit-animation:BZj-GTLeft 3s infinite forwards linear;
  -ms-animation:BZj-GTLeft 3s infinite forwards linear;
}
@-webkit-keyframes BZj-GTLeft {
  74.5%  { transform:translate(0px,150px);}
  75%  { transform:translate(0px,150px) rotate(270deg);}
  100%  { transform:translate(40px,150px) rotate(270deg);}
}
@-ms-keyframes BZj-GTLeft {
  74.5%  { transform:translate(0px,150px);}
  75%  { transform:translate(0px,150px) rotate(270deg);}
  100%  { transform:translate(40px,150px) rotate(270deg);}
}


.MNJ-Array1-left{
  transform-origin:0px 10px;
  -webkit-animation:MNJ-Array1Left 2s infinite forwards linear;
  -ms-animation:MNJ-Array1Left 2s infinite forwards linear;
}
@-webkit-keyframes MNJ-Array1Left {
  100%  { transform:translate(38px,0px);}
}
@-ms-keyframes MNJ-Array1Left {
  100%  { transform:translate(38px,0px);}
}


.BGT-Array2-left{
  transform-origin:0px 10px;
  -webkit-animation:BGT-Array2Left 2s infinite forwards linear;
  -ms-animation:BGT-Array2Left 2s infinite forwards linear;
}
@-webkit-keyframes BGT-Array2Left {
  100%  { transform:translate(30px,0px);}
}
@-ms-keyframes BGT-Array2Left {
  100%  { transform:translate(30px,0px);}
}


.Marray1-radware2-left{
  transform-origin:0px 10px;
  -webkit-animation:Marray1-radware2Left 2s infinite forwards linear;
  -ms-animation:Marray1-radware2Left 2s infinite forwards linear;
}
@-webkit-keyframes Marray1-radware2Left {
  100%  { transform:translate(28px,0px);}
}
@-ms-keyframes Marray1-radware2Left {
  100%  { transform:translate(28px,0px);}
}

.Array2—F5_2-left{
  transform-origin:0px 10px;
  -webkit-animation:Array2—F5_2Left 2s infinite forwards linear;
  -ms-animation:Array2—F5_2Left 2s infinite forwards linear;
}
@-webkit-keyframes Array2—F5_2Left {
  100%  { transform:translate(28px,0px);}
}
@-ms-keyframes Array2—F5_2Left {
  100%  { transform:translate(28px,0px);}
}

.Mradware2-TMQZ-left{
  transform-origin:0px 10px;
  -webkit-animation:Mradware2-TMQZLeft 2s infinite forwards linear;
  -ms-animation:Mradware2-TMQZLeft 2s infinite forwards linear;
}
@-webkit-keyframes Mradware2-TMQZLeft {
  100%  { transform:translate(18px,0px);}
}
@-ms-keyframes Mradware2-TMQZLeft {
  100%  { transform:translate(18px,0px);}
}

.BF5_2-TMQZ-left{
  transform-origin:0px 10px;
  -webkit-animation:BF5_2-TMQZLeft 2s infinite forwards linear;
  -ms-animation:BF5_2-TMQZLeft 2s infinite forwards linear;
}
@-webkit-keyframes BF5_2-TMQZLeft {
  100%  { transform:translate(18px,0px);}
}
@-ms-keyframes BF5_2-TMQZLeft {
  100%  { transform:translate(18px,0px);}
}

.MTMQZ-ZLYQ-left{
   transform-origin:0px 10px;
   -webkit-animation:MTMQZ-ZLYQLeft 2s infinite forwards linear;
   -ms-animation:MTMQZ-ZLYQLeft 2s infinite forwards linear;
 }
@-webkit-keyframes MTMQZ-ZLYQLeft {
  100%  { transform:translate(15px,0px);}
}
@-ms-keyframes MTMQZ-ZLYQLeft {
  100%  { transform:translate(15px,0px);}
}

.BTMQZ-ZLYQ-left{
  transform-origin:0px 10px;
  -webkit-animation:BTMQZ-ZLYQLeft 2s infinite forwards linear;
  -ms-animation:BTMQZ-ZLYQLeft 2s infinite forwards linear;
}
@-webkit-keyframes BTMQZ-ZLYQLeft {
  100%  { transform:translate(15px,0px);}
}
@-ms-keyframes BTMQZ-ZLYQLeft {
  100%  { transform:translate(15px,0px);}
}

.MLLYQ-TMHX-left{
  transform-origin:0px 10px;
  -webkit-animation:MLLYQ-TMHXLeft 2s infinite forwards linear;
  -ms-animation:MLLYQ-TMHXLeft 2s infinite forwards linear;
}
@-webkit-keyframes MLLYQ-TMHXLeft {
  100%  { transform:translate(18px,0px);}
}
@-ms-keyframes MLLYQ-TMHXLeft {
  100%  { transform:translate(18px,0px);}
}

.BZLYQ-TMHX-left{
  transform-origin:0px 10px;
  -webkit-animation:BZLYQ-TMHXLeft 2s infinite forwards linear;
  -ms-animation:BZLYQ-TMHXLeft 2s infinite forwards linear;
}
@-webkit-keyframes BZLYQ-TMHXLeft {
  100%  { transform:translate(18px,0px);}
}
@-ms-keyframes BZLYQ-TMHXLeft {
  100%  { transform:translate(18px,0px);}
}


.MTMHX-RLYQ-left{
  transform-origin:0px 10px;
  -webkit-animation:MTMHX-RLYQLeft 2s infinite forwards linear;
  -ms-animation:MTMHX-RLYQLeft 2s infinite forwards linear;
}
@-webkit-keyframes MTMHX-RLYQLeft {
  100%  { transform:translate(18px,0px);}
}
@-ms-keyframes MTMHX-RLYQLeft {
  100%  { transform:translate(18px,0px);}
}

.BTMHX-RLYQ-left{
  transform-origin:0px 10px;
  -webkit-animation:BTMHX-RLYQLeft 2s infinite forwards linear;
  -ms-animation:BTMHX-RLYQLeft 2s infinite forwards linear;
}
@-webkit-keyframes BTMHX-RLYQLeft {
  100%  { transform:translate(18px,0px);}
}
@-ms-keyframes BTMHX-RLYQLeft {
  100%  { transform:translate(18px,0px);}
}

.MRLYQ-SQZ-left{
  transform-origin:0px 10px;
  -webkit-animation:MRLYQ-SQZLeft 2s infinite forwards linear;
  -ms-animation:MRLYQ-SQZLeft 2s infinite forwards linear;
}
@-webkit-keyframes MRLYQ-SQZLeft {
  100%  { transform:translate(15px,0px);}
}
@-ms-keyframes MRLYQ-SQZLeft {
  100%  { transform:translate(15px,0px);}
}

.BRLYQ-SQZ-left{
  transform-origin:0px 10px;
  -webkit-animation:BRLYQ-SQZLeft 2s infinite forwards linear;
  -ms-animation:BRLYQ-SQZLeft 2s infinite forwards linear;
}
@-webkit-keyframes BRLYQ-SQZLeft {
  100%  { transform:translate(15px,0px);}
}
@-ms-keyframes BRLYQ-SQZLeft {
  100%  { transform:translate(15px,0px);}
}

.MSQZ-NJ-left{
  transform-origin:10px 10px;
  -webkit-animation:MSQZ-NJLeft 2s infinite forwards linear;
  -ms-animation:MSQZ-NJLeft 2s infinite forwards linear;
}
@-webkit-keyframes MSQZ-NJLeft {
  100%  { transform:translate(70px,40px);}
}
@-ms-keyframes MSQZ-NJLeft {
  100%  { transform:translate(70px,40px);}
}

.MSQZ-BFXXG-left{
  transform-origin:10px 10px;
  -webkit-animation:MSQZ-BFXXGLeft 4s infinite forwards linear;
  -ms-animation:MSQZ-BFXXGLeft 4s infinite forwards linear;
}
@-webkit-keyframes MSQZ-BFXXGLeft {
  100%  { transform:translate(62px,300px);}
}
@-ms-keyframes MSQZ-BFXXGLeft {
  100%  { transform:translate(62px,300px);}
}

.BSQZ-BFXXG-left{
  transform-origin:10px 10px;
  -webkit-animation:BSQZ-BFXXGLeft 2s infinite forwards linear;
  -ms-animation:BSQZ-BFXXGLeft 2s infinite forwards linear;
}
@-webkit-keyframes BSQZ-BFXXGLeft {
  100%  { transform:translate(55px,-19px);}
}
@-ms-keyframes BSQZ-BFXXGLeft {
  100%  { transform:translate(55px,-19px);}
}

.BSQZ-NG-left{
  transform-origin:10px 10px;
  -webkit-animation:BSQZ-NGLeft 4s infinite forwards linear;
  -ms-animation:BSQZ-NGLeft 4s infinite forwards linear;
}
@-webkit-keyframes BSQZ-NGLeft {
  100%  { transform:translate(68px,-255px);}
}
@-ms-keyframes BSQZ-NGLeft {
  100%  { transform:translate(68px,-255px);}
}

.MNJ-WZW-left{
  transform-origin:10px 10px;
  -webkit-animation:MNJ-WZWLeft 3s infinite forwards linear;
  -ms-animation:MNJ-WZWLeft 3s infinite forwards linear;
}
@-webkit-keyframes MNJ-WZWLeft {
  100%  { transform:translate(0px,45px)}
}
@-ms-keyframes MNJ-WZWLeft {
  100%  { transform:translate(0px,45px)}
}

.BFXXG-WZW-left{
  transform-origin:10px 60px;
  -webkit-animation:BFXXG-WZWLeft 2s infinite forwards linear;
  -ms-animation:BFXXG-WZWLeft 2s infinite forwards linear;
}
@-webkit-keyframes BFXXG-WZWLeft {
  100%  { transform:translate(0px,-45px);}
}
@-ms-keyframes BFXXG-WZWLeft {
  100%  { transform:translate(0px,-45px);}
}

.MWZW-31SGS-left{
  transform-origin:0px 10px;
  -webkit-animation:MWZW-31SGSLeft 2s infinite forwards linear;
  -ms-animation:MWZW-31SGSLeft 2s infinite forwards linear;
}
@-webkit-keyframes MWZW-31SGSLeft {
  49.5%  { transform:translate(18px,0px);}
  50%  { transform:translate(18px,0px) rotate(180deg);}
  50.5%  { transform:translate(18px,0px) rotate(180deg);}
  100%  { transform:translate(0px,0px) rotate(180deg);}
}
@-ms-keyframes MWZW-31SGSLeft {
  49.5%  { transform:translate(18px,0px);}
  50%  { transform:translate(18px,0px) rotate(180deg);}
  50.5%  { transform:translate(18px,0px) rotate(180deg);}
  100%  { transform:translate(0px,0px) rotate(180deg);}
}

.BTMHX-R-left{
  transform-origin:60px 50px;
  -webkit-animation:BTMHX-RLeft 2s infinite forwards linear;
  -ms-animation:BTMHX-RLeft 2s infinite forwards linear;
}
@-webkit-keyframes BTMHX-RLeft {
  100%  { transform:translate(-50px,-30px);}
}
@-ms-keyframes BTMHX-RLeft {
  100%  { transform:translate(-50px,-30px);}
}

.BTMHX-WR-left{
  transform-origin:10px 40px;
  -webkit-animation:BTMHX-WRLeft 2s infinite forwards linear;
  -ms-animation:BTMHX-WRLeft 2s infinite forwards linear;
}
@-webkit-keyframes BTMHX-WRLeft {
  100%  { transform:translate(50px,-30px);}
}
@-ms-keyframes BTMHX-WRLeft {
  100%  { transform:translate(50px,-30px);}
}






.MDTMHX-WR-left{
  transform-origin:60px 10px;
  -webkit-animation:MDTMHX-WRLeft 2s infinite forwards linear;
  -ms-animation:MDTMHX-WRLeft 2s infinite forwards linear;
}
@-webkit-keyframes MDTMHX-WRLeft {
  100%  { transform:translate(-50px,30px);}
}
@-ms-keyframes MDTMHX-WRLeft {
  100%  { transform:translate(-50px,30px);}
}

.MDTMHX-R-left{
  transform-origin:10px 10px;
  -webkit-animation:MDTMHX-RLeft 2s infinite forwards linear;
  -ms-animation:MDTMHX-RLeft 2s infinite forwards linear;
}
@-webkit-keyframes MDTMHX-RLeft {
  100%  { transform:translate(50px,30px);}
}
@-ms-keyframes MDTMHX-RLeft {
  100%  { transform:translate(50px,30px);}
}

.Marray1-F5_2-left{
  transform-origin:10px 10px;
  -webkit-animation:Marray1-F5_2Left 3s infinite forwards linear;
  -ms-animation:Marray1-F5_2Left 3s infinite forwards linear;
}
@-webkit-keyframes Marray1-F5_2Left {
  100%  { transform:translate(80px,310px);}
}
@-ms-keyframes Marray1-F5_2Left {
  100%  { transform:translate(80px,310px);}
}

.Barray2-Radware2-left{
  transform-origin:10px 320px;
  -webkit-animation:Barray2-Radware2Left 3s infinite forwards linear;
  -ms-animation:Barray2-Radware2Left 3s infinite forwards linear;
}
@-webkit-keyframes Barray2-Radware2Left {
  100%  { transform:translate(80px,-310px);}
}
@-ms-keyframes Barray2-Radware2Left {
  100%  { transform:translate(80px,-310px);}
}






/*.main-net-left{*/
  /*transform-origin:21px 4px;*/
    /*animation:mainNetLeft 2s infinite forwards linear;*/
    /*-webkit-animation:mainNetLeft 2s infinite forwards linear;*/
    /*-moz-animation:mainNetLeft 2s infinite forwards linear;*/
    /*-o-animation:mainNetLeft 2s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes mainNetLeft {*/
    /*50.9%  {transform:translate(0px,41px)}*/
    /*51%  {transform:translate(0px,41px) rotate(180deg);}*/
    /*100%  {transform:translate(0px,2px) rotate(180deg);}*/
  /*}*/
  /*@keyframes mainNetLeft {*/
    /*50.9%  {transform:translate(0px,41px)}*/
    /*51%  {transform:translate(0px,41px) rotate(180deg);}*/
    /*100%  {transform:translate(0px,2px) rotate(180deg);}*/
  /*}*/
  /*.main-net-right{*/
    /*-webkit-animation:mainNetRight 5.8s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes mainNetRight {*/
    /*100%  {left:-77px; top:119px;}*/
  /*}*/
  /*.GMLB-GPLB-left{*/
    /*transform-origin:12px 27px;*/
    /*-webkit-animation:GMLB-GPLBLeft 3.8s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes GMLB-GPLBLeft {*/
    /*50.9%  {transform:translate(100px,0px)}*/
    /*51%  {transform:translate(100px,0px) rotate(180deg);}*/
    /*100%  {transform:translate(0px,0px) rotate(180deg);}*/
  /*}*/
  /*.GMLB-GPLB-right{*/
    /*-webkit-animation:GMLB-GPLBRight 3.8s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes GMLB-GPLBRight {*/
    /*100%  {left:253px; top:220px;}*/
  /*}*/
  /*.core-data-left{*/
    /*transform-origin:16px 39px;*/
    /*-webkit-animation:core-dataLeft 2s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes core-dataLeft {*/
    /*50.9%  {transform:translate(0px,-29px)}*/
    /*51%  {transform:translate(0px,-29px) rotate(180deg);}*/
    /*100%  {transform:translate(0px,-4px) rotate(180deg);}*/
  /*}*/
  /*.core-data-right{*/
    /*-webkit-animation:core-dataRight 1s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes core-dataRight {*/
    /*100%  { top:608px;}*/
  /*}*/
  /*.MQ-core-left{*/
    /*transform-origin:16px 37px;*/
    /*-webkit-animation:MQ-coreLeft 2s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes MQ-coreLeft {*/
    /*50.9%  {transform:translate(0px,-31px)}*/
    /*51%  {transform:translate(0px,-31px) rotate(180deg);}*/
    /*100%  {transform:translate(0px,0px) rotate(180deg);}*/
  /*}*/
  /*.MQ-core-right{*/
    /*-webkit-animation:MQ-coreRight 1s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes MQ-coreRight {*/
    /*100%  { top:506px;}*/
  /*}*/
  /*.Tmall-MQ-left{*/
    /*transform-origin:9px 10px;*/
    /*-webkit-animation:Tmall-MQLeft 4.5s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes Tmall-MQLeft {*/
    /*16%  { transform:translate(0px,26px);}*/
    /*17%  { transform:translate(0px,26px) rotate(-90deg);}*/
    /*50.9%  { transform:translate(64px,26px) rotate(-90deg);}*/
    /*51%  { transform:translate(64px,26px) rotate(90deg);}*/
    /*82%  { transform:translate(0px,26px) rotate(90deg);}*/
    /*83%  { transform:translate(0px,26px) rotate(180deg);}*/
    /*100%  { transform:translate(0px,0px) rotate(180deg);}*/
  /*}*/
  /*.Tmall-MQ-right{*/
    /*transform-origin:73px 36px;*/
    /*-webkit-animation:Tmall-MQRight 2.25s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes Tmall-MQRight {*/
    /*70%  { transform:translate(-64px,0px);}*/
    /*71%  { transform:translate(-64px,0px) rotate(90deg);}*/
    /*100%  { transform:translate(-64px,-26px) rotate(90deg);}*/
  /*}*/
  /*.load-Tmall-left{*/
    /*transform-origin:10px 33px;*/
    /*-webkit-animation:load-TmallLeft 4.5s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes load-TmallLeft {*/
    /*16%  { transform:translate(0px,-27.5px);}*/
    /*17%  { transform:translate(0px,-27.5px) rotate(90deg);}*/
    /*50.9%  { transform:translate(65px,-27.5px) rotate(90deg);}*/
    /*51%  { transform:translate(65px,-27.5px) rotate(-90deg);}*/
    /*82%  { transform:translate(0px,-27.5px) rotate(-90deg);}*/
    /*83%  { transform:translate(0px,-27.5px) rotate(180deg);}*/
    /*100%  { transform:translate(0px,0px) rotate(180deg);}*/
  /*}*/
  /*.load-Tmall-right{*/
    /*transform-origin:72px 6px;*/
    /*-webkit-animation:load-TmallRight 2.4s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes load-TmallRight {*/
    /*66%  { transform:translate(-61.5px,0px);}*/
    /*67%  { transform:translate(-61.5px,0px) rotate(-90deg);}*/
    /*100%  { transform:translate(-61.5px,31px) rotate(-90deg);}*/
  /*}*/
  /*.load-Province-left{*/
    /*transform-origin:9px 7px;*/
    /*-webkit-animation:load-ProvinceLeft 4.5s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes load-ProvinceLeft {*/
    /*33%  { transform:translate(61px,0px);}*/
    /*34%  { transform:translate(61px,0px) rotate(90deg);}*/
    /*50.9%  { transform:translate(61px,29px) rotate(90deg);}*/
    /*51%  { transform:translate(61px,29px) rotate(-90deg);}*/
    /*66%  { transform:translate(61px,0px) rotate(-90deg);}*/
    /*67%  { transform:translate(61px,0px) rotate(180deg);}*/
    /*100%  { transform:translate(0px,0px) rotate(180deg);}*/
  /*}*/
  /*.load-Province-right{*/
    /*transform-origin:70px 33px;*/
    /*-webkit-animation:load-ProvinceRight 2.4s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes load-ProvinceRight {*/
    /*33%  { transform:translate(0px,-26px);}*/
    /*34%  { transform:translate(0px,-26px) rotate(-90deg);}*/
    /*100%  { transform:translate(-67px,-26px) rotate(-90deg);}*/
  /*}*/
  /*.Province-MQ-left{*/
    /*transform-origin:14px 37px;*/
    /*-webkit-animation:Province-MQLeft 4.5s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes Province-MQLeft {*/
    /*33%  { transform:translate(61px,0px);}*/
    /*34%  { transform:translate(61px,0px) rotate(-90deg);}*/
    /*50.9%  { transform:translate(61px,-31px) rotate(-90deg);}*/
    /*51%  { transform:translate(61px,-31px) rotate(90deg);}*/
    /*66%  { transform:translate(61px,0px) rotate(90deg);}*/
    /*67%  { transform:translate(61px,0px) rotate(180deg);}*/
    /*100%  { transform:translate(0px,0px) rotate(180deg);}*/
  /*}*/
  /*.Province-MQ-right{*/
    /*transform-origin:75px 9px;*/
    /*-webkit-animation:Province-MQRight 2.25s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes Province-MQRight {*/
    /*33%  { transform:translate(0px,28px);}*/
    /*34%  { transform:translate(0px,28px) rotate(90deg);}*/
    /*100%  { transform:translate(-64px,28px) rotate(90deg);}*/
  /*}*/
  /*.GMLoad-MLoad-left{*/
    /*transform-origin:16px 32px;*/
    /*-webkit-animation:GMLoad-MLoadLeft 2.3s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes GMLoad-MLoadLeft {*/
    /*50.9%  { transform:translate(60px,-21px);}*/
    /*51%  { transform:translate(60px,-21px) rotate(180deg);}*/
    /*100%  { transform:translate(0px,0px) rotate(180deg);}*/
  /*}*/

  /*.GMLoad-MLoad-right{*/
    /*-webkit-animation:GMLoad-MLoadRight 1.6s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes GMLoad-MLoadRight {*/
    /*100%  { transform:translate(-61px,22px);}*/
  /*}*/
  /*.GPLoad-PLoad-left{*/
    /*transform-origin:11px 13px;*/
    /*-webkit-animation:GPLoad-PLoadLeft 2.3s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes GPLoad-PLoadLeft {*/
    /*50.9%  { transform:translate(60px,21px);}*/
    /*51%  { transform:translate(60px,21px) rotate(180deg);}*/
    /*100%  { transform:translate(0px,0px) rotate(180deg);}*/
  /*}*/
  /*.GPLoad-PLoad-right{*/
    /*-webkit-animation:GPLoad-PLoadRight 1.6s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes GPLoad-PLoadRight {*/
    /*100%  { transform:translate(-61px,-22px);}*/
  /*}*/
  /*.main-GMLoad-left{*/
    /*transform-origin:12px 9px;*/
    /*-webkit-animation:main-GMLoadLeft 3.2s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes main-GMLoadLeft {*/
    /*50.9%  {transform:translate(116px,20px)}*/
    /*51%  {transform:translate(116px,20px) rotate(180deg);}*/
    /*100%  {transform:translate(0px,-1px) rotate(180deg);}*/
  /*}*/
  /*.main-GMLoad-right{*/
    /*-webkit-animation:main-GMLoadRight 3.2s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes main-GMLoadRight {*/
    /*100%  { transform:translate(-116px,-21px);}*/
  /*}*/
  /*.north-GMLoad-left{*/
    /*transform-origin:13px 27px;*/
    /*-webkit-animation:north-GMLoadLeft 3.2s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes north-GMLoadLeft {*/
    /*50.9%  {transform:translate(116px,-20px)}*/
    /*51%  {transform:translate(116px,-20px) rotate(180deg);}*/
    /*100%  {transform:translate(0px,0px) rotate(180deg);}*/
  /*}*/
  /*.north-GMLoad-right{*/
    /*-webkit-animation:north-GMLoadRight 3.2s infinite forwards linear;*/
  /*}*/
  /*@-webkit-keyframes north-GMLoadRight {*/
    /*100%  { transform:translate(-116px,20px);}*/
  /*}*/





  .region{
    text-align:center;
    font-size:12px;
    font-family:'宋体';
    line-height: 14px;
    color:white;
    width:24px;
    height:40px;
    border-radius:15px;
    padding:5px;
    display:none;
    position:absolute;
    z-index: 195;
  }
  /*华东*/
  .hd{
    background:#de4019;
  }
  .hdl{
    z-index: 199;
    -webkit-animation:hdl 4s 1 forwards linear;
    -ms-animation:hdl 4s 1 forwards linear;
  }
  @-webkit-keyframes hdl {
    100%  { top:256px;left:465px;}
  }
   @-ms-keyframes hdl {
    100%  { top:256px;left:465px;}
  }
  .hdr{
    z-index: 199;
    -webkit-animation:hdr 4s 1 forwards linear;
    -ms-animation:hdr 4s 1 forwards linear;
  }
  @-webkit-keyframes hdr {
    100%  { top:376px;left:691px}
  }
   @-ms-keyframes hdr {
    100%  { top:376px;left:691px}
  }
/*华南*/
  .hn{
    background:#f09a11;
  }
  .hnl{
    z-index: 199;
    -webkit-animation:hnl 4s 1 forwards linear;
    -ms-animation:hnl 4s 1 forwards linear;
  }
  @-webkit-keyframes hnl {
    100%  { top:256px;left:495px}
  }
   @-ms-keyframes hnl {
    100%  { top:256px;left:495px}
  }
  .hnr{
    z-index: 199;
    -webkit-animation:hnr 4s 1 forwards linear;
    -ms-animation:hnr 4s 1 forwards linear;
  }
  @-webkit-keyframes hnr {
    100%  { top:376px;left:721px}
  }
   @-ms-keyframes hnr {
    100%  { top:376px;left:721px}
  }
/*西部*/
  .xb{
    background:#0071b7;
  }
  .xbl{
    z-index: 199;
    -webkit-animation:xbl 4s 1 forwards linear;
    -ms-animation:xbl 4s 1 forwards linear;
  }
  @-webkit-keyframes xbl {
    100%  { top:256px;left:525px}
  }
   @-ms-keyframes xbl {
    100%  { top:256px;left:525px}
  }
  .xbr{
    z-index: 199;
    -webkit-animation:xbr 4s 1 forwards linear;
    -ms-animation:xbr 4s 1 forwards linear;
  }
  @-webkit-keyframes xbr {
    100%  { top:376px;left:751px}
  }
   @-ms-keyframes xbr {
    100%  { top:376px;left:751px}
  }
  /*华北*/
  .hb{
    background:#711c77;
  }
  .hbl{
    z-index: 199;
    -webkit-animation:hbl 4s 1 forwards linear;
    -ms-animation:hbl 4s 1 forwards linear;
  }
  @-webkit-keyframes hbl {
    100%  {top:256px;left:555px}
  }
  @-ms-keyframes hbl {
    100%  {top:256px;left:555px}
  }
  .hbr{
    z-index: 199;
    -webkit-animation:hbr 4s 1 forwards linear;
    -ms-animation:hbr 4s 1 forwards linear;
  }
  @-webkit-keyframes hbr {
    100%  { top:376px;left:781px}
  }
  @-ms-keyframes hbr {
    100%  { top:376px;left:781px}
  }

/*中部*/
  .zb{
    background:#00a5ab;
  }
  .zbl{
    z-index: 199;
    -webkit-animation:zbl 4s 1 forwards linear;
    -ms-animation:zbl 4s 1 forwards linear;
  }
  @-webkit-keyframes zbl {
    100%  { top:256px;left:585px}
  }
  @-ms-keyframes zbl {
    100%  { top:256px;left:585px}
  }
  .zbr{
    z-index: 199;
    -webkit-animation:zbr 4s 1 forwards linear;
    -ms-animation:zbr 4s 1 forwards linear;
  }
  @-webkit-keyframes zbr {
    100%  { top:376px;left:811px}
  }
   @-ms-keyframes zbr {
    100%  { top:376px;left:811px}
  }

  .displayNone{
    display:none !important ;
  }
  .displayBlock{
    display:block !important ;
  }
