<div style="width:15px;height:16px;margin:0px;border:0px orange solid;float:right" >
  <div ng-show="sortIcon.z1===true" style="width:12px;height:6px;border:0px red solid;padding:0px;overflow: hidden;" >
  <span class="dropup" style="color: #c7c7c7;">
  <span class="caret" style="margin-top: -14px;"></span>
  </span>
  </div>
  <div ng-show="sortIcon.z2===true" style="width:12px;height:6px;border:0px red solid;padding:0px;overflow: hidden;">
  <span class="dropup" >
  <span class="caret" style="margin-top: -14px;"></span>
  </span>
  </div>
  <div ng-show="sortIcon.z3===true" style="width:12px;height:10px;border:0px orange solid;margin-top: 0px;padding:0px;" >
    <span class="caret" style="color: #c7c7c7;padding:0px;margin-top: -16px;"></span>
  </div>
  <div ng-show="sortIcon.z4===true" style="width:12px;height:10px;border:0px orange solid;margin-top: 0px;padding:0px;" >
    <span class="caret" style="padding:0px;margin-top: -16px;"></span>
  </div>
</div>
